<form (submit)="guardarCambios()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput [formControl]="form.controls.nombre" />
        <mat-error>{{obtenerErrorCampoCombre()}}</mat-error>
    </mat-form-field>

    <div class="contenedor-botones">
        <button mat-flat-button type="submit" [disabled]="form.invalid">
            Guardar Cambios
        </button>
        <a mat-stroked-button routerLink="/cine">Cancelar</a>
    </div>

</form>